.DS_Store
/app1/node_modules
/app2/node_modules
/app3/node_modules
/app4/node_modules
/app5/node_modules
/app6/node_modules
/app7/node_modules
/app8/node_modules
/app9-notificaciones/node_modules
/app10-video/node_modules
/app10-video/grabaciones